
body {
  background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#477af0 0.5px, #f9f9fc 0.5px);
background-size: 10px 10px;
}

.btn-primary {
    background-color: #006d77;
    border-color: #006d77;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .hamburger-icon{
    padding: 15px;
  }
  /* Customize the off-canvas sidebar */
  .offcanvas {
    background-color:#006d77;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  /* Customize the off-canvas sidebar header */
  .offcanvas-header {
    background-color:#006d77;
    color: #fff;
  }
  
  /* Customize the off-canvas sidebar title */
  .offcanvas-title {
    margin: 0;
  }
  
  /* Customize the off-canvas sidebar close button */
  .offcanvas .btn-close {
    color: #fff;
  }
  
  /* Customize the off-canvas sidebar body */
  .offcanvas-body {
    padding: 20px;
    font-size: 18px;
  }
  
  .offcanvas-body a {
    color: white;
  }

  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .btn-outline-success {
    background-color: #9fa3a3;
    border-color: #f7f9f9;
  
  }
  .btn-outline-success:hover{
    background-color:#006d77;
    border-color: #eff2f2;
   
  }

  @media (max-width: 576px) {
    .form-control::placeholder {
      font-size: 10px;
    }
  }
  
  .pagination .page-link {
    color: rgb(241, 90, 9); /* Change the color to your desired value */
  }

  .pagination {
    margin-bottom: 40px; /* Add margin to the bottom of the page navigation */
    position:center;
  }
  .list-group-item.highlight {
    background-color: #f6c196; /* Set your desired highlight color here */
  }
  .list-group-item:hover {
    background-color: #f8934a; /* Set your desired hover color here */
  }
 
.card {
  width: 100%;
  max-width: unset;
  }

  .highlight {
    background-color: #f6c196; /* Set your desired highlight color here */
  }
  

  .modal-button-container { 
    padding: 15px; /* Adjust the padding as needed */
  }
  .form-check {
    padding: 15px;

  }

  .list-group-item {
    background-color: #f5f5f5; /* Change the background color */
    border-color: #dddddd; /* Change the border color */
  }

  .list-group-item .form-check-input:checked + .form-check-label::before {
    background-color: #e27d0a; /* Change the checkbox color when checked */
    border-color: #f58905; /* Change the checkbox border color when checked */
  }
  